@import url(https://fonts.googleapis.com/css?family=Didact+Gothic);

* {
  box-sizing: border-box;
}

html {
    text-align: center;
}

blockquote {
  position: relative;
  display: inline-block;
  background: rgba(211, 211, 240, 0.9);
  padding: 20px 20px 20px 20px;
  margin: 0px 0px 0px 0px;
  border-radius: 10px;
  font-family: 'Didact+Gothic', sans-serif;
  color: #333;
  text-align: left;
  transition: box-shadow 300ms;
}

blockquote:hover {
    box-shadow: 1px 1px 7px #999,
                2px 2px 8px #999,
                3px 3px 9px #999;
}

blockquote p:last-child { margin-bottom: 0; }

h1 {
    font-family: 'Didact+Gothic', sans-serif;
    display: inline-block;
    margin: 10;
    font: bold 20px Sans-Serif;
    vertical-align: middle;
    horizontal-align: middle;
}

img {
    vertical-align: middle;
}

.middle > * {
  vertical-align: middle;
  horizontal-align: middle;
}

