<!DOCTYPE html>
<html>
<head>
  <title>Expand All. Collapse All</title>
  <meta charset="UTF-8">
  
  <!-- first import Vue -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- import JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/liquor-tree/dist/liquor-tree.umd.js"></script>
</head>
<body>
  <div id="app">
    <div class="navigation">
      <div class="navigation-filter">
        <input type="text" v-model="treeFilter" placeholder="Type to filter...">
      </div>
      <div class="navigation-tree">
	<tree
          ref="tree"      
          :data="treeData"
          :options="treeOptions"
	  :filter="treeFilter"
          @node:expanded="onNodeExpand"
	  v-model="selectedNode">
	  <div class="tree-scope" slot-scope="{ node }">
            <template v-if="node.data.isRoot">
              <!-- you can add an icon here, but it is too long for the demo... sorry  -->

              <span class="text">
                {{ node.text }}
              </span>

              <span class="release" v-if="!node.hasChildren()">
                {{ node.data.release }}
              </span>
            </template>
            <template v-else>

              <!-- here we can leave a vue-router for example... -->

              <span class="text">
                {{ node.text }}
              </span>
	      
              <span class="release">
                {{ node.data.release }}
              </span>
            </template>
	  </div>
	</tree>
      </div>
    </div>
  </div>
  <script>
    new Vue({
      el: '#app',
      data: function() {
        return {
	  selectedNode: null,
	  treeFilter: '',
          treeData: getTreeData(),
          treeOptions: {
            checkbox: true,
	    filter: {plainList: true}
          }
        }
      },
      
      methods: {
      	onNodeExpand(node) {
         const expandedNodes = this.$refs.tree.findAll({ state: { expanded: true } })
        	
         expandedNodes.forEach(expandedNode => {
           if (expandedNode.id !== node.id && node.depth === expandedNode.depth) {
             expandedNode.collapse()
           }
         })
        }
      }
    })
    
    
function getTreeData() {
  return [{
    text: 'Root',
    state: { expanded: true },
    children: [{
        text: 'Getting Started',
        state: {
          checked: true
        },
        children: [{
            text: 'Factory'
          },
          {
            text: 'Prototype'
          },
          {
            text: 'Mixin'
          },
          {
            text: 'Singleton'
          }
        ]
      },
      {
        text: 'JavaScript Code Style',
        state: {
          selected: true
        },
        children: [{
            text: 'Creational Design Patterns'
          },
          {
            text: 'Structural Design Patterns'
          }
        ]
      },
      {
        text: 'The Good Parts',
        children: [{
            text: 'OBJECT ORIENTED',
            state: {
              checked: true
            }
          },
          {
            text: 'ANONYMOUS FUNCTIONS',
            state: {
              checked: true
            }
          },
          {
            text: 'FUNCTIONS AS FIRST-CLASS OBJECTS',
            state: {
              checked: true
            }
          },
          {
            text: 'LOOSE TYPING',
            state: {
              checked: true
            }
          }
        ]
      },
      {
        text: 'Patterns',
        children: [{
            text: 'DESIGN PATTERNS',
            state: {
              expanded: true
            },
            children: [{
                text: 'MVC Pattern'
              },
              {
                text: 'MVP Pattern'
              },
              {
                text: 'MVVM Pattern'
              }
            ]
          },
          {
            text: 'MV* PATTERNS',
            children: [{
                text: 'MVC Pattern'
              },
              {
                text: 'MVP Pattern'
              },
              {
                text: 'MVVM Pattern'
              }
            ]
          }
        ]
      }
    ]
  }]
}
  </script>
</body>
</html>
